/*-------------------------그리드-------------------------*/
.logo {
    grid-area: logo;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main-content {
    grid-area: main-content;
}

.grid-container {
    display: grid;

    /*그리드 컬럼 2개 높이 50px로 고정*/
    grid-template-rows: 200px 1fr;

    /*그리드 컬럼 250px 고정, */
    grid-template-columns: 250px 1fr;

    /*세로 가운데 정렬*/
    align-items: center;

    /*화면 높이 100% 채우기*/
    height: 100vh;

    grid-template-areas:
        "logo header"
        "sidebar main-content";
}

/*그리드 로고*/
.item-logo {
    grid-column: 1/2;
    grid-row: 1/2;
}

/*그리드 헤더*/
.item-header {
    grid-column: 2/3;
    grid-row: 1/2;
}

/*그리드 탭*/
.item-tabs {
    grid-column: 1/2;
    grid-row: 2/3;
}

/*그리드 메인*/
.item-main {
    grid-column: 2/3;
    grid-row: 2/3;
}

/*-------------------------그리드-------------------------*/

/*-------------------------플렉스-------------------------*/
.flex-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}
.flex-logo-logout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.flex-tabs-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 50px;
    width: 30px;
}

.flex-tabs-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    width: 170px;
}

.flex-main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-main-item {
    flex: 1;
}
/*-------------------------플렉스-------------------------*/