html {
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: auto;
}

.container {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 50px 1fr 250px;

    grid-template-areas:
        'headerL header headerR'
        'mainL    main    mainR'
        'footerL footer footerR';

    width: 100%;
    height: 100%;
    overflow: auto;
}

.headerFlex {
    display: flex;
    justify-content: space-between;
    /* justify-content: space-around;
    justify-content: space-evenly; */

    flex-flow: row nowrap;
}

.headerMenuFlex {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.footerFlex {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
}

.flex {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.pd {
    padding: 1em;
}

.pdLRLogo {
    padding-left: 0px;
    /* padding-right: 200px; */
}

.pdLR100 {
    padding-left: 50px;
    padding-right: 50px;
}

.pdL50 {
    padding-left: 50px;
}

.pdR50 {
    padding-right: 50px;
}

.headerL {
    grid-area: headerL;
    justify-self: end;
    align-self: center;
}

.header {
    grid-area: header;
    /* justify-self: space-between; */
    /* justify-self: space-around; */
    /* justify-self: space-evenly; */
    align-self: center;
}

.headerR {
    grid-area: headerR;
}

.mainL {
    grid-area: mainL;
}

.mainR {
    grid-area: mainR;
}

.main {
    grid-area: main;
}

.footerL {
    grid-area: footerL;
}

.footer {
    grid-area: footer;
    align-self: center;
}

.footerR {
    grid-area: footerR;
}

.fontOpensansM1000 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 1000;
    font-size: larger;

    color: white;
}

.fontOpensansM4 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: medium;

    color: white;
}

.fontOpensansS {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: small;

    color: white;
}

.fontOpensansS4 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: small;

    color: white;
}

/* header>div>div>div:nth-child(1) {
    top: 0;
    left: 0;
    right: 0%;
    transition: 0.1s;
} */

header>div:last-child>div:nth-child(3) {
    min-width: 100px;
    flex-grow: 1;
}

header>div:last-child>div:nth-child(3):hover {
    border-bottom: white 3px solid;
    padding-bottom: 14px;
    min-width: 100px;
    flex-grow: 1;
    transition: 0.1s;
}

header>div:last-child>div:nth-child(4) {
    min-width: 100px;
    flex-grow: 1;
}

header>div:last-child>div:nth-child(4):hover {
    border-bottom: white 3px solid;
    padding-bottom: 14px;
    min-width: 100px;
    flex-grow: 1;
    transition: 0.1s;
}

header>div:last-child>div:nth-child(5) {
    min-width: 100px;
    flex-grow: 1;
}

header>div:last-child>div:nth-child(5):hover {
    border-bottom: white 3px solid;
    padding-bottom: 14px;
    min-width: 100px;
    flex-grow: 1;
    transition: 0.1s;
}

header>div:last-child>div:nth-child(6) {
    min-width: 100px;
    flex-grow: 1;
}

header>div:last-child>div:nth-child(6):hover {
    border-bottom: white 3px solid;
    padding-bottom: 14px;
    min-width: 100px;
    flex-grow: 1;
    transition: 0.1s;
}

header>div:last-child>div:nth-child(7) {
    min-width: 100px;
    flex-grow: 1;
}

header>div:last-child>div:nth-child(7):hover {
    border-bottom: white 3px solid;
    padding-bottom: 14px;
    min-width: 100px;
    flex-grow: 1;
    transition: 0.1s;
}

.aTagDiv {
    position: relative;
}

.aTag {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 50px ;
}

.filter {
    filter: brightness(50%)
}